#root {
  display: flex;
  width: 100vw;
  height: 100vh;
  text-align: center;
}

.app{
  background-color: transparent;
  width: 100vw;
  height: 100vh;
}

.fatherleftpanel{
  background-color: rgb(32, 33, 35);
  padding: 8px;
  width: 244px;
  height: calc(100vh - 8px - 8px);
}